* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(64, 180, 215);
}

.btn {
    box-sizing: border-box;
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
    display: inline-block;
    font-weight: 400;
    background: #1d1d1b;
    color: #f8f9fa;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: none;
    padding: .75rem;
    font-size: 0.75rem;
    line-height: 1.5;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn:focus {
    outline: 0;
}

.btn-round {
    border-radius: 30px;
}
